---
const { title, description } = Astro.props;
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import siteConfig from "@/config.ts";
import "@/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} &middot; {siteConfig.blogTitle}</title>
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content={siteConfig.colors.megaBlueDark}
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content={siteConfig.colors.megaBlue}
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:image" content="//github.com/ggliv.png" />
    {
      description && (
        <>
          <meta property="og:description" content={description} />
          <meta name="description" content={description} />
        </>
      )
    }
    <link
      rel="alternate"
      type="application/rss+xml"
      title={siteConfig.blogTitle}
      href={"/blog/feed.xml"}
    />
  </head>
  <body
    class:list={[
      "min-h-screen",
      "flex",
      "flex-col",
      "gap-8",
      "bg-gray-100",
      "text-gray-900",
      "dark:bg-gray-900",
      "dark:text-gray-100",
    ]}
  >
    <header>
      <Header />
    </header>
    <main class="px-[1rem] md:w-[800px] md:mx-auto">
      <h1 class="mb-[1rem] font-bold text-5xl">{title}</h1>
      <slot />
    </main>
    <footer class="mt-auto">
      <Footer />
    </footer>
  </body>
</html>
